@import "../../utilis";

@include xxl {
  .containerMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("./main-font.png");
    background-position: center center;
    background-size: cover;
  }

  .upakovka {
    width: 1273px;
    height: 329px;
    margin-left: 80px;
    margin-top: 133px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
  }

  @keyframes fadeIn {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  .up {
    color: #FF89A9;
    font-family: Franklin Gothic Demi, serif;
    font-size: 290px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -18.85px;
    text-transform: uppercase;
  }

  .akovka {
    color: #292929;
    font-family: Franklin Gothic Demi, serif;
    font-size: 290px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -18.85px;
    text-transform: uppercase;
  }

  .info {
    display: flex;
    align-content: center;
    align-items: center;
    column-gap: 32px;
    margin-left: 46px;
    opacity: 0;
    animation: fadeIn 5s forwards;
  }

  .box {
    display: inline-flex;
    padding: 16px 82px 17px 83px;
    justify-content: center;
    align-items: center;
    border-radius: 63.636px;
    border: 3.818px solid #FF89A9;
    width: 120px;
    height: 40px;

  }

  .text {
    color: #110D24;
    font-family: Franklin Gothic Demi, serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .project{
    margin-top: 200px;
    margin-left: 1100px;
  }


  @keyframes drawText {
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }

  .textProject{
    font-family: Franklin Gothic Demi, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    animation: fadeIn 5s forwards;
  }


  .final{
    margin-top: 265px;
    margin-left: 46px;
    margin-bottom: 24px;
  }

  .textFinal{
    color: #1E1E1E;
    font-family: Franklin Gothic Demi, serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.625px;
    text-transform: uppercase;
  }
}
